.place__paragraph {
   font-family: 'Inter', Arial, sans-serif;   
   font-weight: normal;
   font-size: 18px;
   line-height: 29px;
   margin-top: 0;
   margin-bottom: 24px;
}

.place__paragraph:last-child {
   margin-bottom: 0;
}


@media screen and (max-width: 1023px) {
   .place__paragraph {
      font-size: 16px;
      line-height: 26px;
   }
}

@media screen and (max-width: 767px) {
   .place__paragraph {
    width: calc(100% - 16px * 2);
    margin: 0 auto 24px;
   }
}